<div class="page-header">
  <h1><b>Add a new dog for adoption</b></h1>
</div>

<div class="jumbotron">
  <div class="well well-sm">
    <form action="/dogs" method="post">

      <label><h4>Name:*</h4></label>
      <input type="text" name="dog[name]">
      <br>
      <label><h4>Age:*</h4></label>
      <input type="text" name="dog[age]">
      <br>
      <label><h4>Breed(s):</h4></label>

      <% if !@breeds.empty? %>
        <h5>Choose from existing breed:</h5>
          <% @breeds.each do |breed| %>
             <label><%= breed.name %></label>
             <input type="checkbox" id="<%= breed.id %>" name="dog[breed_ids][]" value="<%= breed.id %>"><br>
          <% end %>
          <h5>and/or</h5>
      <% end %>

      <h5>Create a new breed:<h5>
      <input type="text" id="new_breed" name="breed[name]">
      <br></br>

      <label><h4>Description:</h4></label><br>
      <!-- <input type="text" name="dog[description]"> -->
      <textarea name="dog[description]" cols="24" rows="5"></textarea>
      <br></br>

      <h6>* required</h6>

      <button type="submit" class="btn btn-primary">Add new dog <span class="glyphicon glyphicon-thumbs-up"> </span></button>
    </form>
    <br>

    <a href='/dogs' class="btn btn-primary">Cancel <span class="glyphicon glyphicon-remove-circle"> </span></a>
  </div>
</div>
