<div class="page-header">
  <h1><b>Welcome to Adopt-a-dog!</b></h1>
</div>

<div class="jumbotron">
  <h3>Helping dogs find their forever home <span class="glyphicon glyphicon-heart"> </span></h3>
  <br>

  <p> Looking to adopt a dog? View all dogs available for adoption, read more about the dogs you're interested in and contact the carers to find out more or arrange a meeting! </p>
  <br>

  <p>Have a dog available for adoption? Post details and a description about the dog, which you can edit at any time. Liase with interested users via email, then simply remove the listing once you've found your furry friend's forever home.</p>
  <br>

  <p>To begin, please <a href="/login" class="btn btn-primary">Log in </a> or <a href="/signup" class="btn btn-primary"> Sign up</a></p>
</div>
