<div class="page-header">
  <h1>Welcome to Adopt-a-dog!</h1>
</div>

<div class="jumbotron">
    <h3><em>View dogs available for adoption and contact carers <span class="glyphicon glyphicon-envelope"> </span>
    <br><br>
    Post dogs available for adoption, edit details and remove listing once you've found a loving home <span class="glyphicon glyphicon-heart"> </span></em></h3>
    <br>

    <p>To post details of a dog that is available for adoption, or view available dogs, please
      <a href="/login">log in</a> or <a href="/signup">sign up</a></p>
</div>
